.player{
  display: flex;
  align-items: center;
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  

  span{
    font-size: 32px;
    margin-left: 16px;
  }

  background-color: rgb(187, 183, 178);
  img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active{
  background-color: orange !important;
}