<div class="start-screen">
     
     <img src="./assets/img/history-of-playing-cards.webp" alt="">
     
     <div class="start-label-box">
              <!-- From Uiverse.io by CashOnlySeb --> 
      <div (click)="newGame()" class="play-button-container">
        <button class="play-button">
          <span class="button-text">Play</span>
          <div class="clip"></div>
          <div class="triangle-arrow"></div>
          <div class="corner top-left"></div>
          <div class="corner top-right"></div>
          <div class="corner bottom-left"></div>
          <div class="corner bottom-right"></div>
        </button>
      </div>

     </div>

</div>
